.app{
  width: 100%;
  display: flex;
justify-content: center;
align-items: center;
height: 350vh;
flex-direction: column;
@media (width < 780px) {
  height: 600vh;
  overflow-x: hidden;
  background: #ece1e1;
  
}
}
.inside{
 width: 70%;
 display: flex;
 flex-direction: column;
 gap: 20px;
 @media (width < 780px) {
  height: 700vh;
  width: 95%;

  
}
}