.app{
  width: 100%;
  display: flex;
justify-content: center;
align-items: center;
height: 400vh;
flex-direction: column;
@media (width < 780px) {
  height: 790vh;
  overflow-x: hidden;
  background: #ece1e1;
  
}
}
.inside{
 width: 70%;
 @media (width < 780px) {
  height: 700vh;
  width: 95%;
  
}
}